@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  width: 100%;
  align-items: center;
}

.content-wrapper {
  flex: 1;
  padding: 10vh 0vh;
  box-sizing: border-box;
}

.info-wrapper {
  flex: 1;
  box-sizing: border-box;
}

.header {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 4vh;
  background-color: #400b6c;
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding: 0vw 7vw;
  width: 100%;
}

body {
  background-color: rgb(20, 20, 20);
}

.logo img {
  height: 5vh;
  width: auto;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-left: 2vw;
}

.nav-list a {
  text-decoration: none;
  color: white;
  font-size: 3vh;
  transition: color 0.3s;
}

button {
  background-color: rgb(128, 0, 151);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vh;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  border-radius: 5px;
  width: 33vh;
}

h1 {
  color: #400b6c;
  font-size: 10vh;
  margin: 3vh 0vh;
  font-family: 'Roboto', sans-serif;
}

ul {
  margin: 2vh 0vh;
  color: #ffffff;
  font-size: 3.5vh;
  font-family: 'Roboto', sans-serif;
}

p {
  color: #ffffff;
  font-size: 3.5vh;
  word-break: break-word;
  font-family: 'Roboto', sans-serif;
}

section {
  padding: 10vh 0vh;
  max-width: 80vw;
}

.introducing > .image {
  width: 30vw;
  height: 30vw;
  flex: 0 0 auto;
  margin-right: 10vw;
}

.introducing > .image img {
  max-width: 100%;
}

.introducing > .content {
  flex: 1 1 0;
  max-width: 80vw;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introducing {
  align-items: center;
  display: flex;
  margin: auto;
}

.location {
  display: flex;
  align-items: center;
}

.small-image {
  width: 8vh;
  height: auto;
  margin-right: 2vh;
}

.skills-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 5vh;
}

.skills-content > p {
  width: 60vw;
}

.skills-row {
  display: flex;
  justify-content: center;
}
.skills-row img {
  margin: 1vh 3vw;
  width: 8vw;
  height: auto;
}

.portfolio > h1 {
  text-align: center;
}

.project-image {
  height: auto;
  width: 40vw;
  flex: 0 0 auto;
  margin-left: 10vw;
}

.project > .image img {
  max-width: 100%;
}

.project > .project-content {
  flex: 1 1 0;
  max-width: 80vw;
}

.project-content > a {
  font-family: 'Roboto', sans-serif;
  color: #400b6c;
  font-size: 10vh;
  margin: 3vh 0vh;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

.project {
  align-items: center;
  display: flex;
  margin: auto;
  padding-bottom: 15vh;
}

.technology-container {
  display: flex;
  gap: 2vh;
}

.oval {
  width: 17vh;
  height: 7vh;
  background: rgb(128, 0, 151);
  border-radius: 15% / 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 3.5vh;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery img {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 40vw;
  height: auto;
}
.row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ContactMe {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.social-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 15vh;
}

.social-content > p {
  width: 60vw;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15vw;
  padding: 0;
  list-style-type: none;
}
.social-icons a {
  display: inline-block;
  width: 7vh;
  height: 7vh;
  text-decoration: none;
}
.social-icons img {
  width: 100%;
  height: auto;
  display: block;
}

.comic-picture {
  height: 26vh;
  width: auto;
}

.footer {
  background-color: #400b6c;
  color: white;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .comic-picture {
    height: 17vh;
  }

  section {
    padding: 10vh 0vh;
  }

  .nav-list a {
    font-size: 3vh;
  }

  h1 {
    font-size: 8vh;
  }

  ul {
    font-size: 3vh;
  }

  p {
    font-size: 3vh;
  }

  button {
    font-size: 2.5vh;
    width: 33vh;
  }

  .oval {
    font-size: 3vh;
  }

  .introducing > .image {
    width: 40vw;
    height: 40vw;
    margin-right: 5vw;
  }

  .skills-row img {
    width: 10vw;
  }

  .gallery img {
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 40vw;
    height: auto;
  }

  .project-image {
    height: auto;
    width: 100%;
    flex: 0 0 auto;
    margin-left: 0vw;
  }

  .project > .image {
    margin-left: 0;
    width: 80vw;
    flex: 0 0 auto;
  }

  .project > .image img {
    max-width: 100%;
  }

  .project > .project-content {
    flex: 1 1 0;
    max-width: 80vw;
  }

  .project-content > a {
    font-size: 8vh;
    margin: 3vh 0vh;
    text-decoration: none;
    display: inline-block;
  }

  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-bottom: 15vh;
  }

  .social-content {
    padding-bottom: 10vh;
  }

  .social-icons {
    display: flex;
    justify-content: center;
  }
  .social-icons a {
    display: inline-block;
    width: 5vh;
    height: 5vh;
    text-decoration: none;
  }
}

@media (max-width: 480px) {
  .comic-picture {
    height: 11vh;
  }

  main {
    padding: 0vw 3vw;
  }

  .logo {
    display: none;
  }

  section {
    padding: 5vh 0vh;
  }

  .nav {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .nav-list li {
    float: left;
    width: 17vw;
    text-align: center;
  }

  .nav-list a {
    text-decoration: none;
    font-size: 2vh;
  }

  .header {
    padding: 3vh 0;
  }

  .small-image {
    width: 5vh;
    height: auto;
    margin-right: 2vh;
  }

  h1 {
    font-size: 5vh;
  }

  ul {
    font-size: 2.5vh;
  }

  p {
    font-size: 2.5vh;
  }

  button {
    font-size: 2vh;
    width: 22vh;
  }

  .oval {
    font-size: 2.5vh;
  }

  .introducing > .image {
    width: 40vw;
    height: 40vw;
    margin-right: 5vw;
  }

  .project > .image {
    margin-left: 0;
    width: 80vw;
    flex: 0 0 auto;
  }

  .project > .image img {
    max-width: 100%;
  }

  .project > .project-content {
    flex: 1 1 0;
    max-width: 80vw;
  }

  .project-content > a {
    font-size: 4vh;
    margin: 2vh 0vh;
    text-decoration: none;
    display: inline-block;
  }

  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-bottom: 15vh;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0vh;
  }

  .gallery img {
    width: 80vw;
    height: auto;
    margin: 2vh 2vw;
  }

  .social-icons a {
    display: inline-block;
    width: 5vh;
    height: 5vh;
    text-decoration: none;
  }

  .social-content {
    padding-bottom: 6vh;
  }

  .social-icons {
    display: flex;
    justify-content: center;
  }
  .social-icons a {
    display: inline-block;
    width: 3vh;
    height: 3vh;
    text-decoration: none;
  }

  .social-content > p {
    width: 80vw;
  }

  .skills-content > p {
    width: 80vw;
  }
}
